.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .item-center {
        text-align: center;
    }

    .header {}

    .results-page {}

    .footer {}

    button {
        border: 1px solid black;
        background: green;
        color: white;
        width: 150px;
        height: 50px;
        font-size: 20px;
        font-weight: 700;
    }
}