.radio-container {
    .ship-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px;
        text-align: center;
        font-size: xx-large;
        font-weight: 600;
        cursor: pointer;
    }
    .radio-btn{
        margin: 0 10px;
    }
    .disable-field{
        color: gray;
        cursor: not-allowed;
    }
    input{
        width: 15px;
        height: 15px;
    }
}